@media all and (min-width:320px) {
  .wrap header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 3;
    background-color: rgba( 66, 165, 245, 0.8); 
  }
  .wrap header.bottmshadow {
    box-shadow: 0 2px 10px #333;
    backdrop-filter: blur(5px);
  }
  .wrap header .inner {
    height: 80px;
  }
  .wrap header .inner .logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .wrap header .inner .logo img {
    display: block;
    max-width: 40%
  }
  .wrap header .inner .material-icons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 2.625em;
    cursor: pointer;
  }
  .wrap .inner .nav {
    display: none;
  }
  .wrap nav ul {
    display: flex;
  } 
  .wrap nav ul li {
    padding: 0 20px;
  }
  .wrap nav ul li a {
    font-weight: 800;
    text-transform: uppercase;
  }

  /* Intro of Section*/
  .intro {
    position: relative;
    display: block;
    width: 100%;
    background-color: #fafafa;
  }
  .intro .contents-wrap .inner{
    padding-top: 150%;
  }
  .intro .contents-wrap .inner h2 {
    display: inline-block;
    position: absolute;
    width: 100%;
    top: 0px;
    font-size: 2em;
    font-weight: 800;
    text-align: center;
    text-shadow: 2px 2px 5px #fff;
    margin-top: 10px;
  }
  .intro .contents-wrap .inner .backbg {
    position: absolute;
    width: 80%;
    min-width: 50%;
    max-width: 100%;
    height: 70%;
    min-height: 50%;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('../images/spade.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #000;
    opacity: 0.3;
    z-index: 1;
  }
  .intro .contents-wrap .inner .intro-text-box {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin: 60px 0;
    text-align: center;
    z-index: 2;
  }
  .intro .contents-wrap .inner .intro-text-box [class*="intro-text"] {
    display: inline-block;
    font-size: 1.2em;
    font-weight: 600;
    color: #333;
    text-shadow: 1px 1px 1px #fff;
    word-break: keep-all;
    padding: 20px 0;
  }
  .intro .contents-wrap .inner .intro-text-box .intro-text4 {
    font-size: 2em;
    font-weight: 800;
  }

  .intro .contents-wrap .inner .more {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro .more .material-icons {
    padding-bottom: 20px;
    font-size: 3em;
  }

  /* Introduce of Section */
  .introduce {
    position: relative;
    display: block;
    width: 100%;
    background-color: #e0e0e0;
  }
  [class="item-box"] {
    width: 100%;
  }
  [class="item-header"] {
    border-bottom: 2px solid #42a5f5;
    margin: 30px 0;
    background-color: #80d6ff;
  }
  [class="item-header"] h2 {
    font-weight: 800;
    text-transform: uppercase;
  }
  [class="item-body"] {
    font-size: 1.2em;
    font-weight: 600;
    margin: 30px 0;
  }
  [class="item-body"] ul li {
    position: relative;
    padding: 10px 0;
  }
  [class="item-body"] ul li img {
    width: 20%;
  }
  [class="item-body"] ul li span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 23%;
    display: block;
    width: 77%;
    height: 30%;
    background-color: #0077c2;
  }
  [class="item-body"] ul li span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #80d6ff;
  }
  [class="item-body"] ul li:nth-of-type(1) span::before {
    width: 90%;
  }
  [class="item-body"] ul li:nth-of-type(2) span::before {
    width: 80%;
  }
  [class="item-body"] ul li:nth-of-type(3) span::before {
    width: 60%;
  }
  [class="item-body"] ul li span::after {
    position: absolute;
    left: 10px;
    top: 0;
  }
  [class="item-body"] ul li:nth-of-type(1) span::after {
    content: "90%";
  }
  [class="item-body"] ul li:nth-of-type(2) span::after {
    content: "80%";
  }
  [class="item-body"] ul li:nth-of-type(3) span::after {
    content: "60%";
  }
  /* Work of Section */
  .work {
    position: relative;
    display: block;
    width: 100%;
    background-color: #fafafa;
  }
  /* footer */
  footer {
    position: relative;
    display: block;
    width: 100%;
    background-color: #fafafa;
  }
}