.scrollstop {
  height: 100%;
  min-height: 100%;
  overflow: hidden !important;
  touch-action: none;
}
@media all and (min-width:320px) {
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
    z-index: 100;
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }
  .modal .modal_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 3, 3, 0.4);
  }
  .modal.hidden {
    visibility: hidden;
    opacity: 0;
  }
  .modal .modal-box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 10px solid #42a5f5;
    box-shadow: 5px 5px 20px #000;
    box-sizing: border-box;
  }
  .modal .modal-box .modal-header {
    text-align: right;
  }
  .modal .modal-box .modal-header .material-icons {
    padding: 10px;
    font-weight: 800;
    font-size: 34px;
    cursor: pointer;
  }
  .modal .modal-box .modal-body {
    height: auto;
  }
  .modal .modal-box .modal-body ul li {
    text-align: center;
    padding: 20px 0;
  }
  .modal .modal-box .modal-body ul li a {
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
  }
  .modal .modal-box .modal-body ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    left: 35%;
    bottom: 0;
    height: 1px;
    background-color: #333;
    transition: width 0.3s;
  }
  .modal .modal-box .modal-body ul li a:hover::after {
    width: 30%;
  }
}